APP_DATABASE_URL=postgresql+psycopg2://postgres:Windely16@db:5432/asistentebi

# Configuración de base de datos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Windely16
POSTGRES_DB=asistentebi
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Configuración de la App
APP_DEBUG=True

# GOOGLE_API_KEY (Gemini)
# Esta llave está activa para la demostración
APP_GOOGLE_API_KEY=AIzaSyDeBC4p3w7mLEzzOIi9q_S7u52HrK1hq8s