# Entorno virtual
venv/

# Variables de entorno
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
# Credenciales
.env
