services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-asistentebi}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - APP_DATABASE_URL=postgresql+psycopg2://postgres:Windely16@db:5432/asistentebi
    depends_on:
      - db
    restart: unless-stopped
    volumes:
      - ./src:/app/src
      - .env:/app/.env

  frontend:
    build:
      context: ./frontend-bi
    ports:
      - "3000:3000"
    restart: unless-stopped

volumes:
  postgres_data:
