services:
  db:
    image: postgres:15
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    restart: unless-stopped
    volumes:
      - ./src:/app/src
      - .env:/app/.env

  frontend:
    build:
      context: ./frontend-bi
    ports:
      - "3000:3000"
    restart: unless-stopped

volumes:
  postgres_data:
